body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Reem Kufi', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    text-align: center;
    color: #986dff;
}

#tekst {
    font-size: 60px;
    margin-bottom: 2px;
}

a:link,
a:visited,
a:active {
    color: #986dff;
    text-decoration: none;
}

a {
    color: #986dff;
    transition: color 0.6s;
}

a:hover {
    color: #eecc5c;
}


#tekst i.fab.fa-twitch {
    position: relative;
    top: 4px;
}

.ikony a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    margin: 0 9.5px;
    color: white;
    transition: color 0.6s;
}

.ikony a:hover {
    color: #66a2d3;
}

